<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.channelsoft.usercenter.message.mapper.MessageTemplateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.channelsoft.usercenter.message.po.MessageTemplateInfo" >
    <id column="msgtemplate_id" property="msgtemplateId" jdbcType="INTEGER" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="message_template" property="messageTemplate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="audit_pass_time" property="auditPassTime" jdbcType="TIMESTAMP" />
    <result column="audit_status" property="auditStatus" jdbcType="SMALLINT" />
    <result column="audit_person" property="auditPerson" jdbcType="VARCHAR" />
    <result column="audit_info" property="auditInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    msgtemplate_id, enterprise_id, message_template, create_time, update_time, audit_pass_time, 
    audit_status, audit_person, audit_info
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from message_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_template_info
    where msgtemplate_id = #{msgtemplateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_template_info
    where msgtemplate_id = #{msgtemplateId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfoExample" >
    delete from message_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfo" >
    insert into message_template_info (msgtemplate_id, enterprise_id, message_template, 
      create_time, update_time, audit_pass_time, 
      audit_status, audit_person, audit_info
      )
    values (#{msgtemplateId,jdbcType=INTEGER}, #{enterpriseId,jdbcType=INTEGER}, #{messageTemplate,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{auditPassTime,jdbcType=TIMESTAMP}, 
      #{auditStatus,jdbcType=SMALLINT}, #{auditPerson,jdbcType=VARCHAR}, #{auditInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfo" >
    insert into message_template_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="msgtemplateId != null" >
        msgtemplate_id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="messageTemplate != null" >
        message_template,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="auditPassTime != null" >
        audit_pass_time,
      </if>
      <if test="auditStatus != null" >
        audit_status,
      </if>
      <if test="auditPerson != null" >
        audit_person,
      </if>
      <if test="auditInfo != null" >
        audit_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="msgtemplateId != null" >
        #{msgtemplateId,jdbcType=INTEGER},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="messageTemplate != null" >
        #{messageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditPassTime != null" >
        #{auditPassTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        #{auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="auditPerson != null" >
        #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditInfo != null" >
        #{auditInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfoExample" resultType="java.lang.Integer" >
    select count(*) from message_template_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update message_template_info
    <set >
      <if test="record.msgtemplateId != null" >
        msgtemplate_id = #{record.msgtemplateId,jdbcType=INTEGER},
      </if>
      <if test="record.enterpriseId != null" >
        enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="record.messageTemplate != null" >
        message_template = #{record.messageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditPassTime != null" >
        audit_pass_time = #{record.auditPassTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditStatus != null" >
        audit_status = #{record.auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="record.auditPerson != null" >
        audit_person = #{record.auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="record.auditInfo != null" >
        audit_info = #{record.auditInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update message_template_info
    set msgtemplate_id = #{record.msgtemplateId,jdbcType=INTEGER},
      enterprise_id = #{record.enterpriseId,jdbcType=INTEGER},
      message_template = #{record.messageTemplate,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      audit_pass_time = #{record.auditPassTime,jdbcType=TIMESTAMP},
      audit_status = #{record.auditStatus,jdbcType=SMALLINT},
      audit_person = #{record.auditPerson,jdbcType=VARCHAR},
      audit_info = #{record.auditInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfo" >
    update message_template_info
    <set >
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="messageTemplate != null" >
        message_template = #{messageTemplate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditPassTime != null" >
        audit_pass_time = #{auditPassTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditStatus != null" >
        audit_status = #{auditStatus,jdbcType=SMALLINT},
      </if>
      <if test="auditPerson != null" >
        audit_person = #{auditPerson,jdbcType=VARCHAR},
      </if>
      <if test="auditInfo != null" >
        audit_info = #{auditInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where msgtemplate_id = #{msgtemplateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.channelsoft.usercenter.message.po.MessageTemplateInfo" >
    update message_template_info
    set enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      message_template = #{messageTemplate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      audit_pass_time = #{auditPassTime,jdbcType=TIMESTAMP},
      audit_status = #{auditStatus,jdbcType=SMALLINT},
      audit_person = #{auditPerson,jdbcType=VARCHAR},
      audit_info = #{auditInfo,jdbcType=VARCHAR}
    where msgtemplate_id = #{msgtemplateId,jdbcType=INTEGER}
  </update>
</mapper>